push constant 16384   // смещение начала экрана, 16384
pop pointer 1         // база сегмента that
push constant 32767   // закрасить 16 пикселей целиком
pop that 4000         // примерно в середину экрана
